body {
  background-color: lightgrey;
  
  /* font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  font-family: helvetica, arial, sans-serif; */

  /* weight style size (required) family (required) */
  font: 1rem helvetica, arial, sans-serif;
}